################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/statistics-service/worker/src/Worker/bin/Debug/netcoreapp2.1
/statistics-service/worker/src/Worker/.vs
/statistics-service/worker/src/Worker/obj
.idea/workspace.xml
/statistics-service/worker
*.exe
