################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/statistics-service/worker/src/Worker/bin/Debug/netcoreapp2.1
/statistics-service/worker/src/Worker/.vs
/statistics-service/worker/src/Worker/obj
.idea/workspace.xml
/statistics-service/worker
.vscode/launch.json
.vscode/tasks.json
selenium/dotnet-uitest/UITest/.vs/UITest/DesignTimeBuild/.dtbcache
selenium/dotnet-uitest/UITest/.vs/UITest/config/applicationhost.config
selenium/dotnet-uitest/UITest/.vs/UITest/v16/.suo
selenium/dotnet-uitest/UITest/.vs/UITest/v16/Server/sqlite3/db.lock
selenium/dotnet-uitest/UITest/.vs/UITest/v16/Server/sqlite3/storage.ide
selenium/dotnet-uitest/UITest/.vs/UITest/v16/TestStore/0/000-0000.testlog
selenium/dotnet-uitest/UITest/.vs/UITest/v16/TestStore/0/testlog.manifest
selenium/dotnet-uitest/UITest/.vs/UITest/v16/TestStore/1/000-0000.testlog
selenium/dotnet-uitest/UITest/.vs/UITest/v16/TestStore/1/testlog.manifest
selenium/dotnet-uitest/UITest/.vs/UITest/v16/TestStore/2/000-0000.testlog
selenium/dotnet-uitest/UITest/.vs/UITest/v16/TestStore/2/testlog.manifest
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/chromedriver.exe
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/testhost.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/UITest.deps.json
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/UITest.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/UITest.pdb
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/UITest.runtimeconfig.dev.json
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/UITest.runtimeconfig.json
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/WebDriver.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/WebDriver.Support.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/xunit.assert.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/xunit.core.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
selenium/dotnet-uitest/UITest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
selenium/dotnet-uitest/UITest/obj/project.assets.json
selenium/dotnet-uitest/UITest/obj/UITest.csproj.nuget.cache
selenium/dotnet-uitest/UITest/obj/UITest.csproj.nuget.dgspec.json
selenium/dotnet-uitest/UITest/obj/UITest.csproj.nuget.g.props
selenium/dotnet-uitest/UITest/obj/UITest.csproj.nuget.g.targets
selenium/dotnet-uitest/UITest/obj/Container/AdditionalProbingPaths.cache
selenium/dotnet-uitest/UITest/obj/Container/ContainerCreationResult.cache
selenium/dotnet-uitest/UITest/obj/Container/ContainerDevelopmentMode.cache
selenium/dotnet-uitest/UITest/obj/Container/ContainerId.cache
selenium/dotnet-uitest/UITest/obj/Container/ContainerName.cache
selenium/dotnet-uitest/UITest/obj/Container/ContainerOperatingSystemFlavor.cache
selenium/dotnet-uitest/UITest/obj/Container/ContainerRunContext.cache
selenium/dotnet-uitest/UITest/obj/Container/DebuggeeArguments.cache
selenium/dotnet-uitest/UITest/obj/Container/DebuggeeKillProcessCommand.cache
selenium/dotnet-uitest/UITest/obj/Container/DebuggeeProgram.cache
selenium/dotnet-uitest/UITest/obj/Container/DebuggeeWorkingDirectory.cache
selenium/dotnet-uitest/UITest/obj/Container/FastModeProjectMountDirectory.cache
selenium/dotnet-uitest/UITest/obj/Container/ImageBuildContext.cache
selenium/dotnet-uitest/UITest/obj/Container/ImageId.cache
selenium/dotnet-uitest/UITest/obj/Container/OperatingSystemName.cache
selenium/dotnet-uitest/UITest/obj/Container/RelativeOutputAssemblyPath.cache
selenium/dotnet-uitest/UITest/obj/Container/TargetFramework.cache
selenium/dotnet-uitest/UITest/obj/Container/VsDbgScript.cache
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.AssemblyInfo.cs
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.AssemblyInfoInputs.cache
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.assets.cache
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.csproj.CopyComplete
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.csproj.FileListAbsolute.txt
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.csprojAssemblyReference.cache
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.dll
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.pdb
selenium/dotnet-uitest/UITest/obj/Debug/netcoreapp3.1/UITest.Program.cs
selenium/dotnet-uitest/UITest/TestResults/Administrator_WIN-5J4MKK3TH7G_2020-03-04_22_07_17.trx
selenium/dotnet-uitest/UITest/.vs/UITest/v16/Server/sqlite3/storage.ide-shm
selenium/dotnet-uitest/UITest/.vs/UITest/v16/Server/sqlite3/storage.ide-wal
