docker-compose-template.yaml
kompose\prod\client-deployment.yaml
kompose\prod\management-deployment.yaml
kompose\prod\product-service-api-deployment.yaml
kompose\prod\statistics-service-api-deployment.yaml
kompose\prod\statistics-service-worker-deployment.yaml
kompose\test\client-deployment.yaml
kompose\test\management-deployment.yaml
kompose\test\product-service-api-deployment.yaml
kompose\test\statistics-service-api-deployment.yaml
kompose\test\statistics-service-worker-deployment.yaml