// -------------------------------------------
// Misc. Pages
// -------------------------------------------

// Elements.htm
// -------------------------------------------
.page-elements {
  h3.title-divider {
    margin-top: 2em;
  }
}

// 404.htm
// -------------------------------------------
.error-code {
  margin: 0;
}
.error-message {
  margin: 0 0 1em 0;
}
.error-details {
  margin: 0 0 2em 0;
}
.error-form {
  
}