//============================================
// Projects Pages
//============================================

// General
// -------------------------------------------
.project {
  margin-bottom: 2em;
}

// Views
// -------------------------------------------
.projects-grid {
  .project {
    margin-bottom: 30px;
    padding: 5px;
    background: #f3f3f3;
    @include border-radius(2px);
    
    .overlay {
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
    }
  }
}

// Single Projects
// -------------------------------------------



// Responsive
// -------------------------------------------
@include media-breakpoint-up(sm) {

}