//======================================
// Drawers functionality
//======================================

// 
// -------------------------------------------
.drawer {
  position: fixed !important;
  width: 180px;
  left: -180px;
  top: 180px;
  background: white;
  padding: 15px;
  @include transition(all 0.3s ease);
  border: 2px solid $gray-lighter;
  @include border-radius(0 0 3px 0);
  z-index: 1000;
  
  @include media-breakpoint-down(sm) {
    top: 50%;
  }
  
  &.show {
    left: 0;
  }
  
  small {
    font-size: 12px;
    line-height: 12px;
  }
  
  .drawer-toggle {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    background: white;
    @include border-radius(0 3px 3px 0);
    border: 2px solid $gray-lighter;
    border-left: none;
    position: absolute;
    top: -2px;
    right: -40px;
    color: $gray-light;
    
    &:hover,
    &:active,
    &.active {
      color: $gray;
    }
  }
}