//
// List Groups
// @see: getbootstrap.com/components/list-group/
// --------------------------------------------------
.list-group-item {
  display: block; 
}

// Custom styles
.list-group-item-secondary,
a.list-group-item-secondary,
button.list-group-item-secondary {
  background-color: white;
  color: $gray; 
}
a.list-group-item-secondary,
button.list-group-item-secondary {
  &:hover,
  &:focus {
    color: $gray;
    background-color: darken(white, 5%);
  }
}


.list-group-item-inverse,
a.list-group-item-inverse,
button.list-group-item-inverse {
  background-color: $brand-inverse;
  color: white;
}
a.list-group-item-inverse,
button.list-group-item-inverse {
  &:hover,
  &:focus {
    color: white;
    background-color: black;
  }
}

.list-group-item {
  .badge {
    margin-right: 0.5rem;
  }
}

// Custom list utils
.list-group-striped {
  list-style: none;
  padding: 0;
  margin: 0;
  
  .list-group-item {    
    &:nth-child(odd),
    &.w-odd {
      background: #f3f3f3;
    }
  }
}

.list-item-icon {
  width: 1.28571429em;
  text-align: center;
}