//======================================
// Overflow functionality 
//======================================

.overflow-x {
  overflow-x: auto !important;
}
.overflow-y {
  overflow-y: auto !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-hidden {
  overflow: hidden !important;
}

// scrollbars
[data-toggle="scrollbar"] {
  -webkit-flex-wrap: nowrap!important;
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
}