//
// Progress bars
// --------------------------------------------------
.progress {
  border-radius: 1px;
}
.progress-bar {
  @include transition(width 1.2s ease);
}

.progress-sm {
  height: 2px;
  
  .progress-bar {
    padding: 0;
  }
}
.progress-lg {
  height: 2.8rem;
}

.progress-bar[data-toggle="progress-bar-animated-progress"] {
  width: 0 !important;
}