/* --------------------------------------------------
 * Team pages
 *-------------------------------------------------- */

// Team member Common
// -----------------------------
.team-member {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid $gray-lighter;

  p {
    color: rgba($gray-light, 80%/100.0%);
    font-size: 13px;
  }  
  p.member-since {
    font-size: 12px;
    text-decoration: underline;
  }
  .media-heading,
  .name {
    margin: 5px 0 0 0;
    color: $black;
    
    a {
      color: $black;
    }
  }
  .role,
  p.role {
    color: $gray-light;
    font-size: 15px;
    margin: 0 0 5px 0;
  }  

  
  &.team-member-active {
    > * {
      @include opacity(30);
    }
  }
}

// Team member full view
// -----------------------------
.team-member-full {
  padding-bottom: 3em;
  margin-bottom: 3em;

  p {
    font-size: 14px;
  }
  .role,
  p.role {
    font-size: 16px;
  }  
}

// List
// -----------------------------
.team-list {

}

// Grid
// -----------------------------
.team-grid {  
  .team-member {
    text-align: center;
    border: none;
  }
  
  .media-heading,
  .name {
    margin: 5px 0;
  }  
}

@include media-breakpoint-up(sm) {

}