//======================================
// Page titles/headers
//======================================

// General
// -------------------------------------------
.page-title {
  margin: 0;
  
  small {
    color: rgba($body-color, 50%/100.0%);//IE fallback
    color: rgba($body-color, 50%/100.0%);
  }
}

.title-divider {
  text-align: left;
  margin-bottom: 1em;
  background: url(../img/bg_divider.png) left center repeat-x;
  padding: 0;
  
  span {
    background: $white;
    padding-right: 0.5em;
  }

  small {
    display: block;
    color: rgba($body-color, 60%/100.0%);
    margin-top: 5px;
  }
}

@each $name, $color in $as-theme-colours-brands {
  .bg-#{$name} .title-divider span {
    background: $color;
  }
}