

.price-banner {
  margin: 0;
  padding: 20px 1.25rem;
  text-shadow: none;
  color: $primary_colour;
  display: block;
  background: $white;
  font-size: 16px;
  line-height: 1;
  min-height: 70px;
  
  .price-digits {
    font-size: 32px;
    font-weight: bold;
  }
  
  &.price-banner-sm {
    min-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;    
  }
}


.pricing-table {
  .card-title {
    margin-bottom: 0;
  }
  .card-header {
    height: 90px;
    background: white;
  }
  .card-footer {
    background: white;
  }
  
  @include media-breakpoint-up(sm) { 
    .card-offset-y {
      position: relative;
      z-index: 1;
      margin-top: -10px;
      
      .card-header {
        height: 100px;
      }
      .card-footer {
        padding-top: 22px;
      }
      .card-title {
        margin-top: 10px;
        position: relative;
      }
    }
  }
  
  .card-header-hidden  {
    margin-top: 90px; // height of li.title
    display: block;
    
    .card-header {
      display: none;
    }
  }
  
  .price-banner .price-digits {
    font-size: 22px;
  }
  
  .list-group-item {
    height: 50px;
    display: block;
  }
}
